# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE config
.idea
.vscode
.vs

# Build folders
cmake-build-debug/
cmake-build-debug-visual-studio
build
out
x64
x32

assets/shaders/*.spv

*.swp
external/memancpp